frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

backend/.bundle
backend/db/*.sqlite3
backend/db/*.sqlite3-*
backend/log/*
backend/tmp/*
backend/!/log/.keep
backend/!/tmp/.keep
backend/tmp/pids/*
backend/!/tmp/pids/
backend/!/tmp/pids/.keep
backend/storage/*
backend/!/storage/.keep
backend/tmp/storage/*
backend/!/tmp/storage/
backend/!/tmp/storage/.keep
backend/config/master.key